<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.leagepulse.leaguepulse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="us.williamtucker.leaguepulse.parseserver.StarterApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/lp_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lp_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
        <activity
            android:name="us.williamtucker.leaguepulse.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="us.williamtucker.leaguepulse.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name="us.williamtucker.leaguepulse.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="us.williamtucker.leaguepulse.firebase.MyJobService" />
    </application>

</manifest>